body {
  font-family: 'Source Sans Pro', sans-serif;
}

.MainContainer {
  padding: 4%;
  margin-top: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.ProductPreview {
  width: 50%;
  position: relative;
}

.ProductPreview > img {
  width: 100%;
}

.ProductData {
  width: 50%;
}
