.Topbar {
    width: 100%;
    background-color: #282C34;
    padding: 24px 48px 12px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .Topbar > img {
    width: 100px;
  }
  